{% extends 'base.html' %}

{% block title %} Change Password {% endblock %}

{% block styles %}
<style>
.formBox {
    display: grid;
    place-items: center;
}

.formBox div {
    margin: 10px;
}

.formBox div label span {
    color: blue;
}
</style>
{% endblock %}

{% block content %}
<form class="formBox" method="post">{% csrf_token %}
    {% if error %}
    <div class="alert alert-danger">
        {{ error }}
    </div>
    {% endif %}
    
    <div>
        <label for="oldPassword">Old Password<br>
        <input type="password" placeholder="Enter your old password" name="oldPassword">
        </label>
    </div>
    
    <div>
        <label for="newPassword1">New Password<br>
        <input type="password" placeholder="Enter your new password" name="newPassword1">
        </label>
    </div>
    
    <div>
        <label for="newPassword2">Confirm New Password<br>
        <input type="password" placeholder="Confirm your new password" name="newPassword2">
        </label>
    </div>
    
    <div>
        <button type="submit">Save Changes</button>
    </div>
    
</form>

<script>
</script>
{% endblock %}