{% extends 'base.html' %}
{% block title %} Home {% endblock %}

{% block styles %}
<style>

.searchBox {
    margin: 10px;
    text-align: center;
}

.posts {
    margin: 10px auto;
    padding: 10px;
    overflow-x: hidden;    
}

.posts ol {
    height: 250px;
    overflow-x: scroll;
    white-space: nowrap;
    border: 4px solid black;
    border-radius: 25px;
}


.posts ol li {
    margin: 20px;
    margin-left: 30px;
}

</style>
{% endblock %}


{% block content %}

<form class="searchBox">
    <input placeholder="Search by location" name="location" autocomplete="off" autofocus="on">
    <button>Search</button>
</form>

{% if error %}
    <div class="alert alert-primary">
        {{error}}
    </div>
{% endif %}

{% if posts %}
<div class="posts">
    <ol>
    {% for post in posts %}
        <li>
            <a href="/posts/{{post.id}}">( {{post.property_type}} ) {{post.location}}</a>
        </li>
    {% endfor %}
    </ol>
</div>
{% endif %}

<script>
  let navDiv = document.querySelectorAll(".navbar div");
  navDiv[0].style["background-color"] = "skyblue";
  </script>

<script>

/*
let posts = document.querySelector(".posts");
let list = document.querySelector(".posts ol");
let nPost = list.children.length;
let tmp = document.querySelector(".alert")

let listHeight = 50 * nPost;
let maxHeight = 250

if (listHeight > maxHeight) {
    listHeight = maxHeight;
}

tmp.innerHTML = listHeight;
list.height = listHeight;
posts.height = listHeight;
*/

</script>

{% endblock %}